name: RDP

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 9999

    steps:
    - name: Install Chrome Remote Desktop
      run: |
        $Method = "https://dl.google.com/edgedl/chrome-remote-desktop/chromeremotedesktophost.msi"
        Invoke-WebRequest -Uri $Method -OutFile "crd.msi"
        Start-Process msiexec.exe -Wait -ArgumentList "/i crd.msi /quiet"

    - name: Configure and Start CRD
      run: |
        & "${Env:PROGRAMFILES(X86)}\Google\Chrome Remote Desktop\CurrentVersion\remoting_start_host.exe" `
        --code="4/0ASc3gC2uxGDqRO10W1wAVVW02hzeV3sHVv8pTRsWZXvsZTNUB7YGmrbF0lyM8-oSwwuLzg" `
        --redirect-url="https://remotedesktop.google.com/_/oauthredirect" `
        --name="GitHub-Mobile-RDP" `
        --pin=123456 `
        --non-interactive

    - name: Silent Keep Alive
      run: |
        conhost.exe --headless powershell.exe -Command "while($true) { Start-Sleep -Seconds 60 }"
